:host {
    #main-container {
        width: 100vw;
        height: 100vh;
    }
    #map-container {
        position: relative;
        
        svg {
            position: absolute;
            max-width: none;
            height: calc(100% - 20px);
        }
    }
    .cupertino-pane {
        .pane {
            backface-visibility: hidden;
        }
    }
}
