:host {
  #main-container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);
  }
  #map-container {
    position: relative;

    svg {
      position: absolute;
      max-width: none;
      height: calc(100% - (20px + env(safe-area-inset-bottom)));
    }
  }
}
