:host {
  background: #fff;

  ion-header::after {
    content: none;
  }

  .page-content {
    padding: 2rem;
  }

  img {
    width: 100%;
  }

  .ds44-card{
    margin-bottom: 0px;
    background-color: white;
    margin-top: 0.5em;
  }

  .ds44-card__title{
    font-size: 1.4rem;
  }

  .icon-webcam{
    color: white;
  }

  .ds44-card__dateContainer{
    min-width: 12%;
    min-height: 0px;
    background-color: black;
    padding: 0px;
  }
  
  .ds44-card--horizontal{
    padding-left: 1.5rem;
  }
}
