<ion-header>
  <div class="ds44-flex-container ds44-flex-valign-center ds44-m1">
    <div class="ds44-flex ds44-fg1 ds44-flex-valign-center">
      <h1 class="ds44-fg1">Webcam</h1>
      <app-back-button></app-back-button>
    </div>
  </div>
</ion-header>

<ion-content class="padding">

  <div class="ds44-flex-container ds44-flex-valign-center">
    <div class="ds44-flex-container ds44-flex-valign-center ds44-mr2">
      <i class="icon icon-date ds44-mr1"></i> {{ date | date:'shortDate' }}
    </div>
    <div class="ds44-flex-container ds44-flex-valign-center">
      <i class="icon icon-time ds44-mr1"></i> {{ date | date:'HH:mm' }}
    </div>
  </div>

  <img [src]="image">
</ion-content>