:host {
  ion-menu {
    --width: 100vw;
  
    ion-content {
      width: 100%;
    }
  
    #menu {
      box-sizing: border-box;
      height: 100%;
      padding-top: calc(2rem + env(safe-area-inset-top)) !important;
    }
  }
}
