
<ion-content fullscreen>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <app-svg-map *ngIf="status" [data]="status"></app-svg-map>

  <button (click)="openWebcam()">Webcam</button>

  <div class="cupertino-pane">
    <h1>Panel</h1>
    <div class="content">
      <h2>Status {{ count }}</h2>
      <pre>{{ status | json }}</pre>
    
      <div class="events">
        <h2>Événements</h2>
        <p *ngIf="eventsList && !eventsList.length">
          Il n’y a actuellement aucune perturbation
        </p>
        <pre>{{ eventsList | json }}</pre>
      </div>
    </div>
  </div>
</ion-content>
