
<ion-content fullscreen>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <app-svg-map *ngIf="status" [data]="status" [events]="eventsList"></app-svg-map>

  <button (click)="openWebcam()">Webcam</button>

  <div class="cupertino-pane">
    <div class="content" *ngIf="status" hide-on-bottom>

      <!-- Directions -->
      <div class="ds44--l-padding-lr ds44--l-padding-b">
        <h2 class="h2-like">Sens de circulation</h2>
  
        <section class="ds44-app-tuile">
          <h3 class="h3-like">En cours</h3>
          <app-traffic-direction [mode]="status"></app-traffic-direction>
        </section>
  
        <section class="ds44-app-tuile">
          <h3 class="h3-like">À venir</h3>
          <app-traffic-direction *ngFor="let mode of status.next" [mode]="mode"></app-traffic-direction>
        </section>
      </div>

      <!-- Events -->
      <div class="ds44--l-padding ds44-lightBG">
        <h2 class="h2-like">Événements</h2>
        <p *ngIf="eventsList && !eventsList.length">
          Il n’y a actuellement aucune perturbation
        </p>
        <pre>{{ eventsList | json }}</pre>
      </div>

    </div>
  </div>
</ion-content>
