<ion-header>
  <button (click)="dismiss()" class="ds44-btnOverlay--modale ds44-btnOverlay--closeOverlay" type="button" title="Fermer la boîte de dialogue : {{ event.type}}" data-js="ds44-modal-action-close"><i class="icon icon-cross icon--xlarge" aria-hidden="true"></i><span class="ds44-btnInnerText--bottom">Fermer</span></button>
  <h1 class="h2-app-like ds44-mt1 ds44--m-padding-lr"><img src="/assets/icon/{{ event.icon }}.svg" alt="" class="ds44-app-pictoOverlay"> {{ event.label }}</h1>
</ion-header>
<ion-content>
  <div class="ds44-modal-gab">            
    <h2 class="h3-like">{{ event.ligne1 }}</h2>
    <p class="ds44-app-time"><i class="icon icon-date icon--medium ds44-valignTop" aria-hidden="true"></i>&nbsp;Mis à jour le {{ event.datePublication | date: "dd/MM/yyyy à HH:mm" }}</p>

    <p>{{ event ? event.ligne2 : "" }}</p>
    
    <ul *ngIf="event">
      <li *ngIf="event.ligne3">{{ event.ligne3}}</li>
      <li *ngIf="event.ligne4">{{ event.ligne4 }}</li>
      <li *ngIf="event.ligne5">{{ event.ligne5 }}</li>
      <li *ngIf="event.ligne6">{{ event.ligne6 }}</li>
    </ul>

  </div>
</ion-content>