/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";

@import "~design-system-web/dist/css/cd44.min.css";
@import "~design-system-web/dist/css/fonts.css";
@import "~design-system-web/dist/css/icons.css";

button {
  outline: none;
}

ion-header {
  padding-top: env(safe-area-inset-top);
}

.modal-wrapper {
  ion-header {
    padding-top: 0;
  }
}

.event-modal,
.notification-modal {
  --height: auto;

  ion-header {
    overflow: hidden;

    &::after {
      content: none;
    }
  }

  app-back-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .h2-app-like {
    margin-right: 52px;
    display: flex;
    align-items: center;

    img {
      flex-shrink: 0;
    }
  }

  .ion-page {
    position: relative;
    display: block;
    contain: content;

    .inner-content {
      max-height: 60vh;
      overflow: auto;
    }
  }

  .modal-wrapper {
    width: 95%;
  }
}

.pane {
  padding-top: calc(40px + env(safe-area-inset-bottom)) !important;

  .draggable {
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "\E047";
      font-family: "ds44-icons";
      -webkit-font-smoothing: antialiased;

      font-size: 1.6em;

      width: 1em;
      height: 1em;

      line-height: 1em;
      text-align: center;

      display: block;
    }
  }

  .move {
    display: none !important;
  }
}

.webcam-page {
  --width: 100%;
  --height: 100%;
}

.alert-modal {
  .alert-button {
    color: #000;

    &:not(.secondary) {
      font-weight: bold;
    }
  }
}
